<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Email confirmation</title>
    <link th:href="@{/css/confirm-email.css}" rel="stylesheet">
</head>
<body>
<div class="confirm-container">
    <div class="confirm-card">
        <h2>Email confirmed</h2>

        <p class="text">
            Your email has been successfully confirmed.
            You can now sign in to your account.
        </p>

        <a href="/home" class="button">
            Home
        </a>
    </div>
</div>

</body>
</html>