<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
    <link th:href="@{/css/reset-password-send-link.css}" rel="stylesheet">
</head>

<script th:src="@{/js/reset-password-send-link.js}" defer></script>

<body>

<div class="reset-password-container">
    <div class="reset-password-card">

        <div id="error-box" style="display:none" class="error-box">
            <span id="error-message"></span>
        </div>

        <div th:if="${param.error}" class="error-box">
        </div>

        <h2>Send link</h2>

        <form onsubmit="sendResetPasswordLink(); return false;">
            <input id="email" placeholder="Email" required>

            <button type="submit">Send reset password link</button>
        </form>

        <p class="hint">
            Need to login?
            <a href="/login">Login</a>
        </p>
    </div>
</div>
<input type="hidden" id="csrfToken" th:value="${_csrf?.token}">
</body>
</html>