<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout(~{::content}, ~{::extraHead}, ~{::extraScript})}">

<th:block th:fragment="extraHead">
    <link th:href="@{/css/friends-not-found.css}" rel="stylesheet">
</th:block>

<th:block th:fragment="content">
    <div class="page-root">

        <div class="back-wrapper">
            <a href="/home" class="btn back-btn">← Back</a>
        </div>

        <div class="card">
            <p>Нет друзей</p>
        </div>

    </div>
</th:block>

<th:block th:fragment="extraScript">
    <script th:src="@{/js/friend-not-found.js}"></script>
</th:block>

</html>