<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/main :: layout(~{::content}, ~{::extraHead}, ~{::extraScript})}">

<th:block th:fragment="extraHead">
    <link th:href="@{/css/settings.css}" rel="stylesheet">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
</th:block>

<th:block th:fragment="content">
    <div class="settings-page">

        <div class="settings-sidebar">
            <div class="settings-nav">
                <button class="settings-item active" data-section="account">Account</button>
                <button class="settings-item" data-section="profile">Profile</button>
<!--                <button class="settings-item" data-section="privacy">Privacy</button>-->
<!--                <button class="settings-item" data-section="notifications">Notifications</button>-->
<!--                <button class="settings-item" data-section="password">Password</button>-->
            </div>
        </div>

        <div class="settings-content">

            <div class="settings-section active" id="section-account">
                <h3>Account</h3>

                <div class="settings-form">
                    <div class="form-group">
                        <label>Username</label>
                        <input id="username" th:value="${account.username ?: ''}" type="text" placeholder="@Username">
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input id="email" th:value="${account.email ?: ''}" type="text" placeholder="example@email.com">
                    </div>
                </div>

            </div>

            <div class="settings-section" id="section-profile">
                <h3>Profile</h3>

                <div class="photo-wrapper">
                    <label for="photoInput">
                        <img id="mainPhotoUrl"
                             th:src="${profile.mainPhotoUrl != null ? profile.mainPhotoUrl : '/images/default-avatar.png'}"
                             alt="Profile photo">
                    </label>
                    <input type="file"
                           id="photoInput"
                           accept="image/*"
                           hidden>
                </div>
                <div class="settings-form">
                    <div class="form-group">
                        <label>First name</label>
                        <input id="firstName" th:value="${profile.firstName ?: ''}" type="text" placeholder="Firstname">
                    </div>
                    <div class="form-group">
                        <label>Last name</label>
                        <input id="lastName" th:value="${profile.lastName ?: ''}" type="text" placeholder="Lastname">
                    </div>
                    <div class="form-group">
                        <label>Birth Date</label>
                        <input id="birthDate" th:value="${profile.birthDate ?: ''}" type="date" placeholder="01.01.2001">
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select id="gender" th:field="${profile.gender}" name="gender" placeholder="Male">
                            <option value="">Select Gender</option>
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>
                    <div class="from-group">
                        <label>City</label>
                        <input id="city" th:value="${profile.city ?: ''}" type="text" placeholder="Minsk">
                    </div>
                    <div class="form-group">
                        <label>About me</label>
                        <textarea id="aboutMe" th:text="${profile.aboutMe ?: ''}" placeholder="About me"></textarea>
                    </div>
                    <button class="btn-save">Save changes</button>
                </div>
            </div>



        </div>
    </div>
</th:block>

<th:block th:fragment="extraScript">
    <script th:src="@{/js/settings.js}"></script>
</th:block>

</html>